/*--Variable Section--*/
/*--Mixin Section--*/
body {
  background-color: #ddd;
  font-family: 'Varela Round', sans-serif;
  overflow: hidden; }

#topNav {
  height: 53px;
  background-color: #009999; }

#extra-nav {
  height: 40px;
  background-color: #272d34; }

#status-bar {
  height: 25px;
  background-color: #272d34; }

.nav {
  width: 100%;
  overflow: hidden;
  /*	//position: fixed;
  	//top: 0px;
  	//left: 0px;
  	//z-index: 10;	*/
  /*box-shadow: 1px 2px 2px #888888;	*/
  background-color: #009999; }

#main-container {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; }

#left-bar {
  display: inline-block;
  float: left;
  width: 0px;
  background-color: #272d34;
  height: 100vh;
  overflow: hidden; }

@media only screen and (min-width: 1281px) {
  #left-bar {
    /*display: inline-block;*/
    /*float: left;*/
    width: 280px;
    /*background-color:#272d34;*/
    /*height: 100vh;*/
    /*overflow: hidden;*/ } }
#menu-bar-wrapper {
  display: none;
  width: 98%; }

@media only screen and (min-width: 1281px) {
  #menu-bar-wrapper {
    display: block;
    width: 98%; } }
@media only screen and (min-width: 1281px) {
  #menu {
    display: none; } }
#right-bar {
  display: inline-block;
  /*float: right;*/
  width: 100%;
  overflow: hidden; }

@media only screen and (min-width: 1281px) {
  #right-bar {
    display: inline-block;
    /*float: right;*/
    width: calc(100% - 280px); } }
#list-container {
  max-width: 550px;
  width: 95%;
  margin: 10px auto auto auto;
  background-color: transparent; }

#content {
  width: 100%;
  overflow-y: auto;
  background-color: transparent;
  height: calc(100vh - 53px); }

.menu-block {
  text-align: left;
  color: white;
  padding-top: 10px;
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
  box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
  display: block;
  height: 23px; }

#current-user-info {
  display: block;
  margin-bottom: 10px;
  overflow: hidden; }

#menu-bar {
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
  box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.1); }

#user-picture {
  background-image: url("../images/no-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 40px;
  border: 0.5px solid lightgrey;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 15px;
  float: left; }

#user-name-container {
  display: inline-block;
  width: 70%;
  float: left;
  margin-left: 10px;
  margin-top: 25px; }

.menu-name {
  display: inline-block;
  float: left; }

.master-data-ico {
  background-image: url("../images/master-data.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-right: 5px; }

.right-arrow-ico {
  background-image: url("../images/right-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
  display: inline-block;
  float: right; }

.transaksi-ico {
  background-image: url("../images/transaksi.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-right: 5px; }

.laporan-ico {
  background-image: url("../images/laporan.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-right: 5px; }

.menu-child-ico {
  display: inline-block;
  float: left;
  margin-right: 10px; }

.data-barang-ico {
  background-image: url("../images/data-barang.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px; }

.data-satuan-ico {
  background-image: url("../images/data-satuan.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px; }

.data-jenis-ico {
  background-image: url("../images/data-jenis.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px; }

.data-supplier-ico {
  background-image: url("../images/data-supplier.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px; }

.menu-child-wrapper {
  display: none;
  background-color: transparent;
  color: white; }

.menu-child {
  display: block;
  height: 30px;
  width: 100%;
  padding-left: 20px;
  padding-top: 12px; }

#user-name, #login-link {
  display: block;
  text-align: left;
  color: white; }

.home {
  /*margin-top: 33%;*/ }

#menu {
  background-image: url("../images/home.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  /*margin: auto;*/
  float: left;
  margin: 17px 0px 0px 10px; }

#save-menu {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  width: 10%; }

#jual-menu {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  width: 10%; }

#title-bar {
  display: inline-block;
  color: white;
  display: inline-block;
  padding-top: 15px;
  width: 68%;
  /*margin-left:5%;*/
  /*margin-right: 5%;*/
  clear: both;
  font-size: 19px;
  min-height: inherit;
  overflow: hidden;
  text-align: center; }

@media only screen and (min-width: 1281px) {
  #title-bar {
    width: 95%; } }
#title-bar-text {
  display: inline-block;
  height: inherit; }

.add-ico {
  background-image: url("../images/add_data.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  margin: auto;
  display: block;
  margin-top: 33%; }

.save-ico {
  background-image: url("../images/upload_data.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  display: inline-block;
  float: right; }

.uang-ico {
  background-image: url("../images/uang.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  display: inline-block;
  float: right; }

.delete-ico {
  background-image: url("../images/delete.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 24px;
  height: 24px; }

.edit-ico {
  background-image: url("../images/edit.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 24px;
  height: 24px; }

.detail-ico {
  background-image: url("../images/detail.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 24px;
  height: 24px; }

.edit-ico, .delete-ico, .detail-ico {
  display: block;
  margin: auto;
  margin-top: 5px; }

.edit-menu, .delete-menu, .detail-menu {
  display: inline-block;
  float: right;
  border-radius: 40px;
  width: 38px;
  height: 38px;
  margin-right: 0px; }

.edit-menu:hover, .delete-menu:hover, #add-menu:hover, .detail-menu:hover {
  background-color: lightgrey; }

#add-menu {
  width: 64px;
  height: 64px;
  z-index: 10;
  position: fixed;
  right: 15px;
  background-color: #009999;
  border-radius: 40px;
  box-shadow: 1px 2px 4px #888888;
  border: 0.5px solid white;
  text-align: right;
  bottom: 38px; }

.con-search {
  float: right;
  font-size: 15px;
  color: white;
  height: 30px;
  width: 90%;
  display: inline-block;
  box-sizing: border-box;
  border-top: 0px solid white;
  border-left: 0px solid white;
  border-right: 0px solid white;
  border-bottom: 1px solid white;
  background-color: transparent; }

#search-input {
  margin-top: 11px;
  float: right;
  width: 75%;
  display: none; }

.close-search-ico {
  background-image: url("../images/close.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 13px;
  height: 13px;
  display: inline-block;
  float: right;
  margin-top: 12px;
  margin-right: 8px;
  cursor: pointer; }

#search-menu {
  margin-top: 11px;
  float: right;
  width: 32px;
  height: 32px;
  margin-right: 7px; }

.search-ico {
  background-image: url("../images/search_data.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  margin-top: 6px;
  margin-right: 4px;
  cursor: pointer; }

#linksMenu {
  width: 80%; }

.menu-box {
  text-align: center;
  vertical-align: center;
  display: inline-block;
  float: left;
  height: 110px;
  width: 30.5%;
  font-size: 1em;
  /*font-family: tahoma;*/
  padding: 3px; }

.menu-box:hover {
  background-color: lightgray; }

.menu-box-ico {
  background-repeat: no-repeat;
  width: 80px;
  height: 64px;
  display: inline-block; }

#menu-container a {
  outline: none;
  color: black;
  font-weight: normal;
  text-decoration: none; }

#data-barang-ico {
  background-image: url("../images/data-barang.png"); }

#data-jenis-barang-ico {
  background-image: url("../images/data-jenis-barang.png"); }

#data-supplier-ico {
  background-image: url("../images/data-supplier.png"); }

#data-satuan-barang-ico {
  background-image: url("../images/data-satuan-barang.png"); }

#penjualan-ico {
  background-image: url("../images/penjualan.png"); }

#pembelian-ico {
  background-image: url("../images/pembelian.png"); }

#hutang-ico {
  background-image: url("../images/hutang.png"); }

#piutang-ico {
  background-image: url("../images/piutang.png"); }

#modal-ico {
  background-image: url("../images/modal.png"); }

#biaya-lain-ico {
  background-image: url("../images/biaya-lain.png"); }

.div-label {
  margin-top: 10px; }

.div-con {
  /*background-color: red;*/
  display: block;
  min-height: 28px; }

.div-select {
  width: 90%; }

tr {
  cursor: pointer; }

.con-label {
  font-size: 19px; }

.con-text, .con-currency, .con-number, .con-percent {
  padding: 5px;
  display: block;
  box-sizing: border-box;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  /*border-radius: 5px;*/
  font-size: 20px; }

.con-select {
  font-size: 15px;
  padding: 3px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
  float: left; }

.con-select-quickAdd {
  font-size: 15px;
  padding: 3px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
  float: left;
  width: calc(100% - 35px); }

.form-container {
  max-width: 550px;
  width: 90%;
  margin: 10px auto auto auto;
  border: solid lightgrey 0.5px;
  padding: 0px 10px 10px 10px;
  background-color: white; }

.con-button:hover, .link-button-style:hover {
  background-color: darkblue; }

.link-button-style, .con-button {
  font-family: tahoma;
  font-size: 1em;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #009999;
  border-color: black;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: center;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer; }

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

.on-progress, .on-success, .on-fail {
  height: 50px;
  padding: 5px;
  width: 200px;
  text-align: center;
  font-size: 18px; }

.on-fail {
  background-color: lightpink;
  border: 2px solid red; }

.on-success {
  background-color: lightgreen;
  border: 2px solid green; }

#optionDialog {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1px;
  padding-right: 1px;
  width: 200px;
  border-radius: 2px; }

.link-menu-style {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 30px;
  padding-top: 10px; }

.link-menu-style:hover {
  color: white;
  background-color: darkgrey; }

.div-underline {
  border-bottom-color: #000;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  width: 100%;
  box-sizing: border-box;
  text-align: center; }

.div-submit, .div-link-button-style, .div-button {
  margin-top: 10px; }

.item-row {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 3px 5px #888888;
  display: block;
  width: 99.9%;
  overflow: hidden; }

.kode-ico {
  background-image: url("../images/kode.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 14px;
  height: 12px;
  background-image: url("../images/kode.png");
  display: inline-block; }

.harga-ico {
  background-image: url("../images/harga_white.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: inline-block; }

.item-row-nama {
  display: block;
  width: 100%;
  clear: both;
  font-size: 21px;
  min-height: 29px;
  overflow: hidden;
  text-align: justify;
  color: black;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px; }

.supplier-ico {
  background-image: url("../images/supplier.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  display: inline-block; }

.jenis-ico {
  background-image: url("../images/jenis.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  display: inline-block; }

.item-col-qty {
  float: left;
  display: inline-block;
  color: #686060;
  font-size: 15px;
  width: 40%;
  text-align: right; }

.qty-ico {
  background-image: url("../images/qty.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 14px;
  height: 14px;
  display: inline-block; }

.item-row-kode-supplier-qty-jenis {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  overflow: hidden;
  min-height: 63px; }

.item-col-kode-supplier {
  display: inline-block;
  float: left;
  border-right: 1px solid lightgrey;
  min-height: inherit; }

.item-row-kode {
  display: block;
  min-height: 21px;
  clear: both; }

.item-col-kode-ico {
  display: inline-block;
  float: left;
  width: 10%;
  min-height: inherit; }

.item-col-kode {
  display: inline-block;
  float: left;
  min-height: inherit; }

.item-row-supplier {
  display: block;
  width: 100%;
  min-height: 21px;
  clear: both; }

.item-col-supplier-ico {
  display: inline-block;
  float: left;
  width: 10%;
  min-height: inherit; }

.item-col-supplier {
  display: inline-block;
  float: left;
  min-height: inherit;
  overflow: hidden;
  text-align: left;
  color: #009999;
  width: 87%; }

.item-col-qty-jenis {
  display: inline-block;
  float: left;
  padding-left: 5px;
  min-height: inherit; }

.item-row-qty {
  display: block;
  width: 100%;
  min-height: 21px;
  clear: both; }

.item-col-qty-ico {
  display: inline-block;
  float: left;
  width: 10%;
  min-height: inherit; }

.item-col-qty {
  display: inline-block;
  float: left;
  min-height: inherit;
  overflow: hidden;
  text-align: left; }

.item-row-jenis {
  display: block;
  width: 100%;
  min-height: 21px;
  clear: both; }

.item-col-jenis-ico {
  display: inline-block;
  float: left;
  width: 10%;
  min-height: inherit; }

.item-col-jenis {
  display: inline-block;
  float: left;
  min-height: inherit;
  overflow: hidden;
  text-align: left; }

.item-row-edit-hapus-harga {
  display: block;
  width: 100%;
  min-height: 35px;
  clear: both;
  padding-bottom: 4px; }

.item-col-edit-hapus {
  display: inline-block;
  float: right;
  min-height: inherit;
  padding-top: 5px; }

.item-col-harga-me {
  display: inline-block;
  float: left;
  min-height: inherit;
  padding-top: 6px;
  padding-left: 5px;
  border-right: 1px solid lightgrey; }

.item-col-harga-ico {
  display: none;
  float: left;
  width: 14%;
  min-height: inherit; }

.item-col-harga {
  display: inline-block;
  float: left;
  width: 85%;
  min-height: inherit;
  overflow: hidden;
  text-align: left;
  font-size: 19px;
  color: #686060;
  padding-top: 5px; }

.item-col-kode-ico,
.item-col-supplier-ico,
.item-col-qty-ico,
.item-col-jenis-ico {
  margin-right: 4px; }

.item-col-kode,
.item-col-qty,
.item-col-jenis {
  width: 87%;
  color: #686060; }

.item-col-kode-supplier,
.item-col-qty-jenis,
.item-col-edit-hapus,
.item-col-harga-me {
  width: 48%;
  padding-top: 4px; }

.item-col-kode-supplier,
.item-col-edit-hapus {
  margin-left: 5px; }

.no-data {
  margin: auto;
  color: #686060;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.hide-menu {
  display: none; }

.show_menu {
  display: inline-block; }

#search-barang {
  display: block;
  border-radius: 3px;
  background-color: white;
  padding: 0px 10px 3px 10px; }

.on-progress {
  background-image: url("../images/Blocks.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 80px;
  height: 80px; }

.quick-add {
  font-family: tahoma;
  font-size: 1em;
  display: inline-block;
  color: #FFF;
  background-color: #009999;
  border-color: black;
  margin-left: 5px;
  text-align: center;
  vertical-align: center;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer;
  width: 27px;
  height: 32px; }

.quick-add-ico {
  background-image: url("../images/add_data.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  margin: auto;
  display: block;
  margin-top: 33%; }

#quick-add-div {
  background-color: white;
  padding: 5px; }

#btn_reset {
  display: block;
  height: 128px;
  width: 100px;
  margin: auto;
  margin-top: 70px;
  cursor: pointer; }

.btn_reset_ico {
  background-image: url("../images/reset.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 64px;
  height: 64px;
  display: block; }

#div-keranjang {
  display: block;
  max-height: calc(100vh - 148px);
  overflow-y: auto;
  width: 100%; }

.item-jual {
  display: block;
  background-color: white;
  box-shadow: 0px 3px 5px #888888;
  width: 95%;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
  min-height: 63px;
  margin: 4px; }

.row-item {
  display: block;
  border-bottom: 1px solid black;
  overflow: hidden;
  padding: 5px; }

.col-item {
  display: inline-block;
  width: 50%; }

.con-item-jual-text {
  display: inline-block;
  width: 43px;
  border: solid 1px black;
  font-size: 17 px; }

.item-jual-col-hapus {
  float: right; }

.item-jual-col-diskon {
  float: left; }

.item-jual-col-kode {
  float: left; }

.item-jual-col-harga {
  float: right; }

.item-jual-row-subTotal {
  display: block; }

.div-con-plain {
  box-sizing: border-box;
  overflow: hidden;
  max-width: 330px;
  width: 100%;
  margin: 3px 0px 0px 8px; }

.con-lookUp {
  display: inline-block;
  float: left;
  width: 80%;
  font-size: 20px; }

#status-bar-info {
  display: block;
  color: white;
  font-size: 20px;
  margin: 3px 0px 0px 8px; }

#lookUp-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 9003;
  opacity: 0.5; }

#lookUp-parent {
  /*position: absolute;
  z-index: 9001;
  left: 53%;
  top: 60px;
  margin-left: -164px;
  min-width: 300px;
  max-width: calc(100vw - 20px);*/ }

#lookUp-container {
  position: absolute;
  display: block;
  border: 3px solid #009999;
  min-width: 300px;
  max-width: calc(100vw - 20px);
  margin-left: auto;
  margin-right: auto;
  background-color: #009999;
  border-radius: 5px;
  /*height: 350px;*/
  overflow: auto;
  z-index: 9004;
  left: 53%;
  top: 60px;
  margin-left: -164px; }

#lookUp-item-container {
  display: block;
  overflow-y: auto;
  border: 1px solid white;
  background-color: white;
  max-height: 320px;
  width: 99%; }

.lookUp-title {
  display: block;
  padding: 5px;
  background-color: #009999;
  color: white;
  text-align: left; }

.lookUp-item:active {
  background-color: lightgrey; }

.lookUp-item {
  display: block;
  border-bottom: 1px solid black;
  width: 95%;
  clear: both;
  overflow: hidden;
  margin-bottom: 5px;
  padding: 3px;
  margin: auto;
  font-size: 15px; }

.lookUp-row-item-nama {
  display: block;
  width: 100%;
  clear: both;
  font-size: 16px;
  color: black;
  text-align: left;
  cursor: normal; }

.lookUp-row-item-kode-harga {
  display: block;
  width: 100%;
  clear: both;
  overflow: hidden; }

.lookUp-col-item-kode, .lookUp-col-item-harga {
  display: inline-block;
  float: left;
  color: #6c6c6c;
  font-size: 14px;
  /*border: 1px solid black;*/ }

.lookUp-col-item-harga {
  padding-left: 10px; }

.x-modal-button {
  background-image: url("../images/close.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  float: right; }

#info-bar-caption {
  display: inline-block;
  float: left;
  color: white;
  padding: 5px;
  padding-right: 5px;
  text-align: right;
  width: 60%;
  padding-right: 0px; }

#info-bar-val {
  display: inline-block;
  float: right;
  color: white;
  padding: 5px;
  text-align: left;
  width: 35%; }

.item-jual-col-left {
  width: 64%;
  display: inline-block;
  float: left; }

.item-jual-col-right {
  overflow: hidden;
  width: 35%;
  display: inline-block;
  float: right; }

.item-jual-row-kode {
  display: block;
  font-size: 13px;
  color: #4C4E4F; }

.item-jual-row-nama {
  display: block;
  font-size: 18px;
  color: #009999; }

.item-jual-row-qty-harga-diskon {
  display: block;
  font-size: 15px; }

.item-jual-row-subTotal-caption {
  display: block;
  font-size: 13px;
  color: #4C4E4F; }

.item-jual-row-subTotal {
  display: block;
  font-size: 16px; }

.popUp-container {
  border: 3px solid #009999;
  border-radius: 5px; }

.popUp-title {
  background-color: #009999;
  color: white; }
